/* Stylesheet by Abigail Gleason, 2020 */
body{
    background-color: cadetblue;
}

h1{
    z-index: 999;
    left: 50%;
    margin: auto;
    font: 35pt bold trebuchet ms, sans-serif;
    color: #252525;
}

#webpage-text{
    font: 10pt trebuchet ms, sans-serif;
    position:relative;
    z-index: 999;
    width: 15%;
    top: 400px;
    left: 10px;
    background-color: lightgray;
    border-radius: 10px 10px; 
    padding: 10px;
}

#textbody{
    color: #252525;
    font: 12pt trebuchet ms, sans-serif;
    width: 18%;
    position: absolute;
    top: 65px;
}

#dropdowns{
    color: #252525;
    position: absolute;
    top: 350px;
}

.accordion {
  background-color: lightgray;
  color: #252525;
  cursor: pointer;
  padding: 5px;
  width: 200px;
  text-align: left;
  font: 12pt trebuchet ms, sans-serif;
  border: none;
}

.active, .accordion:hover {
  background-color: darkcyan;
}

.panel {
  padding: 0 18px;
  display: block;
  width: 164px;
  font: 10pt trebuchet ms, sans-serif;
  max-height:0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.accordion:after {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  font-size: 10px;
  color: #252525;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}

#sources{
    color: #252525;
    font: 8pt trebuchet ms, sans-serif;
    width: 100%;
    position: relative;
    top: 10px;
}

#mapid {
    height: 625px;
    width: 80%;
    left: 20%;
    top: 10px;
    border: lightgray;
    display: inline-block;
}

.leaflet-popup-content p {
    margin: 0.2em 0;
}

#panel{
    background-color: lightgray;
}

.sequence-control-container {
    width: 300px;
    height: 30px;
    background-color: lightgray;
    padding: 10px;
    line-height: 45px;
    text-align: center;
    border-radius: 10px 10px;
}

.range-slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 60%;
    border-radius: 5px;
    background-color: lightsteelblue
}

.range-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%; 
  background: darkcyan;
  cursor: pointer;
}

.range-slider::-moz-range-thumb {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #4CAF50;
  cursor: pointer;
}

#forward {
    float: right;
}

#reverse {
    float: left;
}

.skip{
    background-color: darkcyan;
    border:none;
    border-radius: 20%;
}

.legend-control-container{
    background-color: lightgray;
    padding: 5px;
    line-height: 30px;
    width: 200px;
    text-align: center;
    border: 2px rgba(255,255,255,0.8);
    border-radius: 10px 10px;
    font: 10pt trebuchet ms, sans-serif;
}

#temporal-legend{
    font: 12pt trebuchet ms, sans-serif;
}

.leaflet-marker-icon.leaflet-interactive,
.leaflet-image-layer.leaflet-interactive,
.leaflet-pane > svg path.leaflet-interactive,
svg.leaflet-image-layer.leaflet-interactive path {
	pointer-events: visiblePainted; /* IE 9-10 doesn't have auto */
	pointer-events: auto;
    stroke: cadetblue;
	}